### Importing all relevant packages

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from pprint import pprint

In [4]:
from collections import Counter

In [47]:
from collections import OrderedDict

In [5]:
from nltk.corpus import stopwords
stopwords = list(stopwords.words('english'))

In [64]:
spacy_stopwords = list(spacy.lang.en.stop_words.STOP_WORDS)

In [92]:
spacy_stopwords.extend(stopwords)
spacy_stopwords = list(set(spacy_stopwords))

In [76]:
spacy_stopwords.index('us')

113

In [89]:
spacy_stopwords.extend(['got','told','said','tell','mr','don'])

In [6]:
import numpy as np

In [7]:
import spacy

In [8]:
nlp = spacy.load('en')

In [9]:
import pickle

In [235]:
from sklearn.metrics import accuracy_score

### Understanding the data and categories

BBC articles data taken from here
* https://www.kaggle.com/yufengdev/bbc-text-categorization

In [10]:
data = pd.read_csv('../Data/bbc-text.csv',encoding='latin1',index_col=False)

In [11]:
data.shape

(2225, 2)

In [12]:
data.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [13]:
categories = data.category.unique()

In [14]:
data.category.value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

### Pre-process Text Content

In [22]:
def bigrams(input_list):
    bigrams_list = list(zip(input_list,input_list[1:]))
    bigrams_list_2 = [element for element in bigrams_list if element !=('STOP','START') and element !=('START','STOP')]
    return bigrams_list_2

In [152]:
def preprocess_text(text):
    doc = nlp(text)
    sentences = [each_sent for each_sent in doc.sents]
    lol_words = [
    [
        str(each_token.lemma_) for each_token in nlp(each_sent.text) 
        if str(each_token) not in spacy_stopwords and each_token.is_punct==False and each_token.is_space==False
    ] 
    for each_sent in doc.sents
    ]
    lol_words_proper = [['START']+each_sent+['STOP'] for each_sent in lol_words]
    lol_words_proper_unfurl = [each_word for each_sent in lol_words_proper for each_word in each_sent]
    bigrams_list = bigrams(lol_words_proper_unfurl)
    unigrams_list = [element for element in lol_words_proper_unfurl if element!='START' and element!='STOP']
    return (unigrams_list,bigrams_list)

### Training and testing on the whole data

###### Splitting the data into train and test data

In [219]:
train,test = train_test_split(data,test_size=0.1)

In [220]:
train.head()

           category                                               text
1116       business  stormy year for property insurers a string of ...
2             sport  tigers wary of farrell  gamble  leicester say ...
2039  entertainment  russian film wins bbc world prize russian dram...
1110           tech  what high-definition will do to dvds first it ...
925        business  man utd to open books to glazer manchester uni...

In [221]:
test.head()

           category                                               text
2186       business  battered dollar hits another low the dollar ha...
1415           tech  row brewing over peer-to-peer ads music downlo...
987   entertainment  john peel replacement show begins the permanen...
577           sport  hearts of oak 3-2 cotonsport hearts of oak set...
1676       politics  gurkhas to help tsunami victims britain has of...

In [222]:
train.reset_index(drop=True,inplace=True)

In [223]:
test.reset_index(drop=True,inplace=True)

###### Calculate bigram counts for each class (training)

In [224]:
count_bigrams_cat = {}
count_unigrams_cat = {}
vocab_size_cat = {}

In [225]:
def training_bigrams(category,df):
    bigrams_list = []
    unigrams_list = []
    ans = [preprocess_text(text) for text in df.text]
    for each in ans:
        bigrams_list.extend(each[1])
        unigrams_list.extend(each[0])
    vocab_size_cat[category] = len(list(set(unigrams_list)))
    count_bigrams_cat[category] = Counter(bigrams_list)
    count_unigrams_cat[category] = Counter(unigrams_list)

###### Assigning class based on highest log-probability score on new dataset (.predict function equivalent)

<img src="images/add delta smoothed conditional prob.png" style="width:150;height:150px;">

In [226]:
def bigram_markov(new_sent):
    ans = preprocess_text(new_sent)
    bigrams_list = ans[1]
    unigrams_list = ans[0]
    markov_prob = {}
    for cat in categories:
        markov_prob[cat] = 0
        for each in bigrams_list:
            markov_prob[cat] += np.log((count_bigrams_cat[cat][each]+0.1)/(count_unigrams_cat[cat][each[0]]+0.1*vocab_size_cat[cat]))
        if len(new_sent.split())>0:
            markov_prob[cat] = markov_prob[cat]/len(new_sent.split())
    markov_prob_final = sorted(markov_prob.items(),key=lambda x:x[1], reverse=True)
    return markov_prob_final

In [137]:
#data_test = data.copy()
#data_test = data_test.sample(n=100)

In [138]:
#data_test.category.value_counts()

In [227]:
%%time
# training now on the train data
train.groupby('category').apply(lambda df: training_bigrams(df.name,df))

Wall time: 6min 18s

Empty DataFrame
Columns: []
Index: []

In [228]:
# pickle dump for quicker reuse later
vocab_size_cat_f = open("../Data/vocab_size_train.pkl",'wb')
count_bigrams_cat_f = open("../Data/bigram_count_train.pkl",'wb')
count_unigrams_cat_f = open("../Data/unigrams_count_train.pkl",'wb')

pickle.dump(vocab_size_cat,vocab_size_cat_f)
pickle.dump(count_bigrams_cat,count_bigrams_cat_f)
pickle.dump(count_unigrams_cat,count_unigrams_cat_f)

vocab_size_cat_f.close()
count_bigrams_cat_f.close()
count_unigrams_cat_f.close()

In [46]:
# vocab_size_cat = pickle.load("../Data/vocab_size.pkl")
# count_bigrams_cat = pickle.load("../Data/vocab_size.pkl")
# count_unigrams_cat = pickle.load("../Data/vocab_size.pkl")

###### A quick look at the Bigram Markov Model Features

In [246]:
print(vocab_size_cat)
print("****")
pprint(list(zip(categories,[count_bigrams_cat[cat].most_common(5) for cat in categories])))
print("****")
pprint(list(zip(categories,[count_unigrams_cat[cat].most_common(5) for cat in categories])))

{'business': 9283, 'entertainment': 8898, 'politics': 8317, 'sport': 8083, 'tech': 8765}
****
[('tech',
  [(('e', 'mail'), 178),
   (('mobile', 'phone'), 154),
   (('year', 'STOP'), 135),
   (('START', 'people'), 92),
   (('bbc', 'news'), 85)]),
 ('business',
  [(('year', 'STOP'), 236),
   (('START', 'company'), 122),
   (('chief', 'executive'), 117),
   (('START', 'analyst'), 96),
   (('interest', 'rate'), 93)]),
 ('sport',
  [(('game', 'STOP'), 151),
   (('START', 'think'), 145),
   (('START', 'know'), 107),
   (('time', 'STOP'), 101),
   (('year', 'STOP'), 97)]),
 ('entertainment',
  [(('year', 'STOP'), 133),
   (('START', 'film'), 96),
   (('award', 'STOP'), 94),
   (('film', 'STOP'), 84),
   (('box', 'office'), 79)]),
 ('politics',
  [(('prime', 'minister'), 250),
   (('START', 'blair'), 175),
   (('START', 'tory'), 165),
   (('tony', 'blair'), 161),
   (('lib', 'dem'), 160)])]
****
[('tech',
  [('people', 849),
   ('game', 652),
   ('mobile', 575),
   ('technology', 567),
   ('phone', 483)]),
 ('business',
  [('year', 828),
   ('$', 730),
   ('company', 575),
   ('firm', 488),
   ('market', 461)]),
 ('sport',
  [('game', 582), ('play', 538), ('win', 534), ('good', 467), ('time', 433)]),
 ('entertainment',
  [('film', 807), ('good', 643), ('year', 548), ('award', 483), ('star', 406)]),
 ('politics',
  [('government', 710),
   ('labour', 706),
   ('party', 676),
   ('election', 625),
   ('people', 596)])]

###### Testing on some sample sentences

In [229]:
bigram_markov("economic growth slows down")

[('business', -3.9692388514802905),
 ('politics', -6.7677569438805945),
 ('tech', -8.341093396600021),
 ('sport', -9.000286606679415),
 ('entertainment', -9.09610496174359)]

In [230]:
bigram_markov("prime minister")

[('politics', -3.5746871267381852),
 ('business', -7.440089097987748),
 ('tech', -10.252850263607193),
 ('sport', -11.981405120960808),
 ('entertainment', -12.124273481509913)]

In [231]:
bigram_markov("halo was hugely successful")

[('tech', -6.2126216117651065),
 ('politics', -7.672317862538664),
 ('sport', -8.01886399230171),
 ('business', -8.157525044723988),
 ('entertainment', -8.502447051556878)]

###### Testing on the whole dataset and measuring accuracy

In [247]:
test.head()

        category                                               text
0       business  battered dollar hits another low the dollar ha...
1           tech  row brewing over peer-to-peer ads music downlo...
2  entertainment  john peel replacement show begins the permanen...
3          sport  hearts of oak 3-2 cotonsport hearts of oak set...
4       politics  gurkhas to help tsunami victims britain has of...

In [254]:
def bigram_markov_final(new_sent):
    ans = preprocess_text(new_sent)
    bigrams_list = ans[1]
    unigrams_list = ans[0]
    markov_prob = {}
    for cat in categories:
        markov_prob[cat] = 0
        for each in bigrams_list:
            markov_prob[cat] += np.log((count_bigrams_cat[cat][each]+0.1)/(count_unigrams_cat[cat][each[0]]+0.1*vocab_size_cat[cat]))
        if len(new_sent.split())>0:
            markov_prob[cat] = markov_prob[cat]/len(new_sent.split())
    markov_prob_final = sorted(markov_prob.items(),key=lambda x:x[1], reverse=True)
    return markov_prob_final[0][0]

In [255]:
test.index

RangeIndex(start=0, stop=223, step=1)

In [258]:
%%time
test['predicted'] = test.apply(lambda x: bigram_markov_final(x.text),axis=1)

C:\Users\welcome\Anaconda3\envs\MLDLNLP_1\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Wall time: 44.5 s

In [259]:
test.head()

,category,text,predicted
0,business,battered dollar hits another low the dollar ha...,business
1,tech,row brewing over peer-to-peer ads music downlo...,tech
2,entertainment,john peel replacement show begins the permanen...,entertainment
3,sport,hearts of oak 3-2 cotonsport hearts of oak set...,sport
4,politics,gurkhas to help tsunami victims britain has of...,politics

In [260]:
print(accuracy_score(test['category'],test['predicted']))

0.968609865470852

97% accuracy for prediction of category

###### Appendix - Understanding the bigram features

In [99]:
count_bigrams_cat.keys()

dict_keys(['business', 'entertainment', 'politics', 'sport', 'tech'])

###### Bigram Features

In [233]:
df = pd.DataFrame([count_bigrams_cat['tech'].most_common(50),count_bigrams_cat['sport'].most_common(50),count_bigrams_cat['entertainment'].most_common(50),count_bigrams_cat['business'].most_common(50),count_bigrams_cat['politics'].most_common(50)]).T
df.columns = ['tech','sport','entertainment','business','politics']
df

,tech,sport,entertainment,business,politics
0,"((e, mail), 178)","((game, STOP), 151)","((year, STOP), 133)","((year, STOP), 236)","((prime, minister), 250)"
1,"((mobile, phone), 154)","((START, think), 145)","((START, film), 96)","((START, company), 122)","((START, blair), 175)"
2,"((year, STOP), 135)","((START, know), 107)","((award, STOP), 94)","((chief, executive), 117)","((START, tory), 165)"
3,"((START, people), 92)","((time, STOP), 101)","((film, STOP), 84)","((START, analyst), 96)","((tony, blair), 161)"
4,"((bbc, news), 85)","((year, STOP), 97)","((box, office), 79)","((interest, rate), 93)","((lib, dem), 160)"
5,"((START, microsoft), 82)","((season, STOP), 97)","((START, think), 63)","((START, firm), 90)","((general, election), 158)"
6,"((game, STOP), 80)","((START, good), 96)","((START, year), 62)","((market, STOP), 84)","((liberal, democrat), 148)"
7,"((START, mobile), 79)","((START, england), 88)","((new, york), 54)","((stock, market), 75)","((START, labour), 148)"
8,"((START, game), 76)","((grand, slam), 88)","((million, dollar), 52)","((economic, growth), 73)","((election, STOP), 146)"
9,"((website, STOP), 75)","((START, play), 87)","((START, good), 52)","((2004, STOP), 69)","((START, howard), 119)"
10,"((news, website), 72)","((new, zealand), 82)","((take, $), 49)","((month, STOP), 65)","((START, government), 117)"
11,"((phone, STOP), 69)","((world, cup), 81)","((dollar, baby), 48)","((economy, STOP), 64)","((michael, howard), 116)"
12,"((technology, STOP), 68)","((START, want), 77)","((good, film), 46)","((2005, STOP), 61)","((year, STOP), 108)"
13,"((high, definition), 67)","((player, STOP), 77)","((name, good), 45)","((2003, STOP), 59)","((home, secretary), 105)"
14,"((3, g), 67)","((START, feel), 67)","((vera, drake), 45)","((START, yukos), 59)","((human, right), 101)"
15,"((let, people), 65)","((6, 3), 65)","((music, STOP), 45)","((deutsche, boerse), 58)","((kilroy, silk), 99)"
16,"((service, STOP), 64)","((win, STOP), 64)","((good, director), 42)","((oil, price), 53)","((START, brown), 96)"
17,"((START, new), 64)","((play, STOP), 64)","((START, band), 41)","((report, STOP), 53)","((START, think), 95)"
18,"((time, STOP), 62)","((champion, league), 64)","((good, actress), 41)","((START, government), 49)","((START, lib), 87)"
19,"((START, apple), 62)","((7, 6), 61)","((los, angele), 41)","((stock, exchange), 49)","((gordon, brown), 85)"
20,"((START, sony), 57)","((week, STOP), 61)","((START, new), 40)","((new, york), 48)","((START, liberal), 81)"
21,"((month, STOP), 56)","((START, go), 60)","((good, song), 40)","((growth, STOP), 47)","((START, conservative), 77)"
22,"((START, year), 56)","((bbc, sport), 60)","((film, festival), 39)","((company, STOP), 45)","((START, add), 76)"
23,"((search, engine), 55)","((australian, open), 59)","((time, STOP), 39)","((START, china), 44)","((START, prime), 72)"
24,"((START, company), 54)","((match, STOP), 59)","((add, STOP), 38)","((START, year), 43)","((bbc, radio), 72)"
25,"((software, STOP), 54)","((6, 7), 56)","((win, good), 37)","((START, bank), 43)","((START, party), 72)"
26,"((anti, virus), 52)","((START, look), 56)","((academy, award), 36)","((START, accord), 43)","((add, STOP), 72)"
27,"((system, STOP), 51)","((second, half), 54)","((february, STOP), 36)","((START, new), 42)","((tory, leader), 68)"
28,"((network, STOP), 51)","((add, STOP), 53)","((START, know), 35)","((consumer, spending), 41)","((government, STOP), 66)"
29,"((hard, drive), 50)","((injury, STOP), 53)","((START, want), 35)","((business, STOP), 41)","((country, STOP), 66)"
30,"((video, game), 50)","((6, 4), 52)","((25, year), 35)","((START, figure), 39)","((council, tax), 66)"
31,"((site, STOP), 49)","((good, STOP), 52)","((jamie, foxx), 34)","((START, economy), 39)","((labour, party), 64)"
32,"((device, STOP), 48)","((START, great), 52)","((good, actor), 34)","((START, sale), 38)","((election, campaign), 64)"
33,"((2005, STOP), 48)","((davis, cup), 51)","((prize, STOP), 34)","((add, STOP), 38)","((party, STOP), 64)"
34,"((START, think), 48)","((club, STOP), 51)","((START, oscar), 33)","((START, think), 37)","((START, lord), 61)"
35,"((mac, mini), 47)","((final, STOP), 50)","((START, british), 33)","((START, despite), 37)","((public, service), 61)"
36,"((high, speed), 46)","((6, 2), 48)","((good, support), 33)","((say, STOP), 37)","((radio, 4), 59)"
37,"((consumer, electronic), 46)","((team, STOP), 47)","((golden, globe), 32)","((statement, STOP), 36)","((START, kennedy), 59)"
38,"((music, player), 45)","((3, 6), 46)","((joss, stone), 32)","((sale, STOP), 36)","((START, bbc), 58)"
39,"((wi, fi), 45)","((world, number), 46)","((number, STOP), 31)","((news, agency), 36)","((week, STOP), 58)"
40,"((START, accord), 44)","((START, ireland), 46)","((START, time), 31)","((firm, STOP), 35)","((START, ms), 57)"
41,"((START, want), 44)","((minute, STOP), 45)","((START, actor), 31)","((year, ago), 35)","((START, people), 55)"
42,"((program, STOP), 44)","((england, STOP), 44)","((hip, hop), 31)","((fourth, quarter), 35)","((issue, STOP), 53)"
43,"((START, time), 43)","((sport, STOP), 44)","((martin, scorsese), 30)","((START, uk), 35)","((minister, STOP), 53)"
44,"((START, consumer), 43)","((START, lot), 43)","((START, uk), 30)","((sri, lanka), 35)","((campaign, STOP), 53)"
45,"((START, user), 43)","((START, win), 43)","((award, good), 30)","((country, STOP), 34)","((bbc, news), 53)"
46,"((world, STOP), 43)","((START, come), 42)","((chart, STOP), 30)","((cost, STOP), 34)","((foreign, secretary), 52)"
47,"((work, STOP), 42)","((come, STOP), 41)","((2003, STOP), 29)","((START, country), 34)","((tax, STOP), 51)"
48,"((online, STOP), 42)","((START, game), 41)","((life, STOP), 29)","((START, share), 32)","((START, want), 51)"
49,"((START, service), 42)","((START, roddick), 41)","((franz, ferdinand), 29)","((rate, rise), 32)","((leader, michael), 50)"

###### Unigram Features

In [234]:
df = pd.DataFrame([count_unigrams_cat['tech'].most_common(50),count_unigrams_cat['sport'].most_common(50),count_unigrams_cat['entertainment'].most_common(50),count_unigrams_cat['business'].most_common(50),count_unigrams_cat['politics'].most_common(50)]).T
df.columns = ['tech','sport','entertainment','business','politics']
df

,tech,sport,entertainment,business,politics
0,"(people, 849)","(game, 582)","(film, 807)","(year, 828)","(government, 710)"
1,"(game, 652)","(play, 538)","(good, 643)","($, 730)","(labour, 706)"
2,"(mobile, 575)","(win, 534)","(year, 548)","(company, 575)","(party, 676)"
3,"(technology, 567)","(good, 467)","(award, 483)","(firm, 488)","(election, 625)"
4,"(phone, 483)","(time, 433)","(star, 406)","(market, 461)","(people, 596)"
5,"(new, 474)","(year, 430)","(music, 398)","(rise, 407)","(minister, 521)"
6,"(year, 470)","(player, 424)","(include, 307)","(sale, 384)","(blair, 503)"
7,"(service, 460)","(england, 411)","(new, 291)","(bank, 372)","(tory, 493)"
8,"(user, 437)","(world, 372)","(actor, 231)","(growth, 356)","(plan, 444)"
9,"(use, 394)","(6, 358)","(band, 229)","(economy, 355)","(year, 414)"
10,"(computer, 372)","(match, 326)","(song, 220)","(new, 355)","(new, 401)"
11,"(net, 355)","(come, 318)","(uk, 218)","(share, 341)","(say, 361)"
12,"(firm, 353)","(team, 305)","(number, 211)","(government, 313)","(tax, 344)"
13,"(software, 346)","(go, 301)","(play, 210)","(price, 307)","(brown, 341)"
14,"(system, 325)","(final, 298)","(director, 207)","(economic, 305)","(uk, 324)"
15,"(music, 324)","(second, 295)","(take, 204)","(month, 286)","(lord, 316)"
16,"(digital, 317)","(club, 274)","(album, 203)","(rate, 285)","(howard, 299)"
17,"(time, 317)","(cup, 267)","(time, 198)","(country, 278)","(public, 294)"
18,"(company, 315)","(new, 259)","($, 191)","(2004, 274)","(mp, 278)"
19,"(work, 308)","(set, 254)","(tv, 190)","(fall, 264)","(work, 274)"
20,"(like, 306)","(ireland, 246)","(oscar, 189)","(expect, 259)","(time, 272)"
21,"(way, 305)","(think, 244)","(british, 184)","(high, 258)","(issue, 270)"
22,"(site, 294)","(champion, 243)","(chart, 182)","(business, 258)","(want, 262)"
23,"(player, 285)","(take, 237)","(people, 172)","(report, 253)","(home, 261)"
24,"(world, 277)","(half, 234)","(win, 160)","(analyst, 248)","(leader, 260)"
25,"(uk, 275)","(injury, 230)","(record, 159)","(oil, 236)","(secretary, 258)"
26,"(million, 273)","(coach, 229)","(singer, 158)","(state, 233)","(right, 254)"
27,"(network, 272)","(want, 227)","(actress, 157)","(time, 218)","(prime, 252)"
28,"(video, 269)","(season, 219)","(bbc, 155)","(world, 215)","(country, 251)"
29,"(online, 264)","(wale, 219)","(go, 155)","(000, 215)","(britain, 248)"
30,"(find, 254)","(start, 216)","(million, 154)","(chief, 214)","(claim, 241)"
31,"(microsoft, 254)","(old, 211)","(come, 150)","(big, 210)","(come, 240)"
32,"(good, 246)","(france, 208)","(work, 145)","(cost, 207)","(law, 240)"
33,"(website, 243)","(add, 205)","(release, 141)","(increase, 207)","(bbc, 238)"
34,"(help, 243)","(look, 204)","(big, 138)","(profit, 201)","(conservative, 232)"
35,"(high, 241)","(rugby, 200)","(hit, 138)","(china, 200)","(go, 231)"
36,"(number, 240)","(try, 198)","(festival, 137)","(group, 192)","(need, 226)"
37,"(device, 238)","(minute, 194)","(prize, 136)","(euro, 189)","(general, 221)"
38,"(consumer, 229)","(week, 193)","(day, 135)","(cut, 188)","(chancellor, 220)"
39,"(internet, 226)","(open, 192)","(single, 127)","(dollar, 187)","(vote, 220)"
40,"(offer, 224)","(like, 186)","(movie, 126)","(tax, 184)","(campaign, 218)"
41,"(want, 222)","(goal, 185)","(role, 126)","(deal, 183)","(think, 213)"
42,"(tv, 222)","(know, 183)","(think, 125)","(financial, 182)","(add, 208)"
43,"(mail, 222)","(victory, 182)","(like, 122)","(uk, 182)","(good, 205)"
44,"(information, 220)","(beat, 181)","(nomination, 121)","(figure, 180)","(service, 202)"
45,"(market, 219)","(great, 180)","(man, 120)","(good, 177)","(change, 195)"
46,"(broadband, 213)","(olympic, 180)","(000, 119)","(executive, 176)","(police, 195)"
47,"(search, 212)","(lose, 178)","(know, 117)","(2005, 176)","(report, 190)"
48,"(say, 211)","(nation, 173)","(place, 117)","(plan, 174)","(000, 190)"
49,"(look, 210)","(chance, 171)","(comedy, 116)","(come, 170)","(council, 188)"